.posts-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 33px;
}

.post-element {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: var(--white);
  padding: 25px 0;
  font-size: 14px;
}

.post-element img {
  width: 86px;
  margin-top: -25px;
  margin-bottom: -25px;
}

.post-element-info {
  width: 100%;
  max-width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post-element-info h4 {
  font-size: 16px;
}

.social-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-actions-btns {
  display: flex;
  gap: 18px;
}

.social-actions-btns div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-actions-btns img {
  width: 15px;
  margin: 0;
}

.social-actions-btns span {
  display: block;
}

.upload-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.load-more-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.display-variants {
  margin-top: 63px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 21px;
  margin-bottom: 23px;
}

.display-variants .display-variants-el {
  cursor: pointer;
}

.display-variants .display-variants-el svg rect {
  fill: #C8C7C7;
  transition: .3s;
}

.display-variants .display-variants-el.active svg rect {
  fill: var(--light-blue);
}

.posts-container.tiles {
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -8px;

  --elements-in-row: 4;
}

.posts-container.tiles .post-element {
  flex-direction: column;
  max-width: none;
  width: calc((100% / var(--elements-in-row)) - 8px);
  padding-top: 0;
  padding-bottom: 18px;
}

.posts-container.tiles .post-element img {
  margin: 0;
  margin-bottom: 12px;
  width: 100%;
}

.posts-container.tiles .post-element-info {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr auto; 
  gap: 24px 15px; 
  grid-template-areas: 
    "social-actions-1 social-actions-2"
    "upload-time upload-time";
  padding: 0 12px;
}

.posts-container.tiles .social-actions-btns {
  flex-direction: column;
}

.posts-container.tiles .upload-time {
  flex-direction: row;
  justify-content: space-between;
}

.posts-container.tiles .upload-time h4 {
  font-size: 14px;
}

.posts-container.tiles .upload-time span {
  font-size: 12px;
}

.posts-container.tiles .social-actions-btns img {
  margin: 0;
  width: 15px;
}

.posts-container.tiles .social-actions-1 {
  grid-area: social-actions-1;
}

.posts-container.tiles .social-actions-2 {
  grid-area: social-actions-2;
}

.posts-container.tiles .upload-time {
  grid-area: upload-time;
}